/* Template CSS */

/* Importing needed fonts */
@import '../fonts/neutratext.css';
@import '../fonts/tradegothic.css';

body { background: #FFFFFF; color: #1d1e1e; font-family: Arial, sans-serif; font-weight: normal; font-size: 12px; text-rendering: optimizeLegibility; }
#main_container {width: 1200px; margin:0 auto;}
#menubar_container { background-color: #e9e9e9; padding: 13px; margin: 0px;}
#menu { background-color: #58656c; padding: 0px; margin: 0px;}
#home_imageslider { background-color: #fd0033; padding-top: 6px;}
#content_back1 { background-image:url('../../../images/content_bg.png'); background-position: top; background-repeat: repeat-x; display: block; min-height: 196px; z-index: 1; }
#content_back2 { margin-top: 196px; background-color: #e9e9e9; z-index: 1; position: relative; }
#content {margin-top: -196px; z-index: 999; position: relative;}

h1, h2, h3, h4, h5, h6, .tradegothic { font-family: Arial, sans-serif; }

a, a:link { color: #58656c; text-decoration: none; }

input.text, input[type="text"], input.email, input[type="email"] { max-width: 300px; width: 100%; height: 25px; margin-right: 8px; padding: 6px 7px 0; color: #6d6e71; font-family: 'TradeGothic', Arial, sans-serif; font-size: 20px; line-height: 25px; }

input.button, input[type="button"], input[type="submit"] { background: #55b7cb url(../img/button.png) center center no-repeat; border: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; height: 35px; margin-bottom: 10px; width: 60px; color: white; font-family: 'TradeGothic', Arial, sans-serif; text-transform: uppercase; font-size: 25px; line-height: 25px; }
input[type="submit"] { background-image: none; width: auto; height: auto; padding: 10px 20px 5px; }